{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h6>{{ object.category.category_name|title }}</h6>
            <h1>{{ object.product_name|title }}</h1>
            <div class="card-img-top">
                <img src="{{ object.product_image|mediapath }}" alt="Фото" width="100%" height="auto">
            </div>
        </div>
        <div class="col-5">
            <div class="card" style="width: 18rem;">
                <h2 class="card-title text-center mt-4 pricing-card-title">
                    Цена: {{ object.purchase_price }} AED
                </h2>
                <hr>
                <div class="card-body">
                    <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                    <button type="button" class="w-100 btn btn-lg btn-success">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}