{% extends 'catalog/base.html' %}
{% block content %}
<style>
    .form-group {
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
    }
    .form-group:hover {
        background-color: #e6e6e6;
    }
</style>
<div class="col">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}

                        <hr>

                        {{ formset.management_form }}
                        {% for form in formset %}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        {% endfor %}
                        <button type="submit" class="btn btn-success mt-3 w-100">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}