{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h6>{{ object.category.category_name|title }}</h6>
            <h1>{{ object.product_name|title }}</h1>
            <div class="card-img-top">
                <img src="{{ object.product_image|mediapath }}" alt="Фото" width="100%" height="auto">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <h2 class="card-title text-center mt-4 pricing-card-title">
                    Цена: {{ object.purchase_price }} AED
                </h2>
                <hr>
                <div class="card-body">
                    <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                    <button type="button" class="w-100 btn btn-lg btn-success">Купить</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'catalog:product_update' object.pk %}" class="w-100 btn btn-lg btn-primary">Редактировать</a>
                </div>
                <div class="card-body">
                    <a class="w-100 btn btn-lg btn-danger"
                       href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    {% if active_versions %}
    <div class="row mt-4">
        <div class="col">
            <h3>Версия издательства:</h3>
            <ul>
                {% for version in active_versions %}
                <li>
                    <h4>{{ version.version_name }} ({{ version.version_number }})</h4>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
